%h1 #{link_to @person.full_name, person_path(:id => @person)} : Services
=link_to 'New service', new_service_path
%table
  %tr
    %th Service type
    %th Start date
    %th End date
    %th Paid
    %th Volunteered
    %th Note
  -for service in @services
    %tr{:class => cycle('odd','even')}
      %td 
        -service.service_type.name
      %td 
        -service.start_date
      %td 
        -service.end_date
      %td 
        -service.paid
      %td 
        -service.volunteered
      %td.note 
        -note_text(service.note)
      %td 
        =link_to 'Show', service_path(:id => service)
      %td 
        =link_to 'Edit', edit_service_path(:id => service)
      %td 
        =link_to 'Remove', service_path(:id => service), :confirm => 'Are you sure?', :method => :delete
  %tr.list_controls
    %td{:colspan => 9}
      %div.paginating_links
        = 'More: '
        -paginating_links(@services)
      -if @services.next_page? || @services.previous_page?
        -end

-# Original:

-#   0: h1 do
-#   1:   link_to @person.full_name, person_path(:id => @person)
-#   2:   text " : Services"
-#   5: link_to 'New service', new_service_path
-#   7: table do
-#   8:   tr do
-#   9:     th 
-#  10:       'Service type'
-#  11:     th 
-#  12:       'Start date'
-#  13:     th 
-#  14:       'End date'
-#  15:     th 
-#  16:       'Paid'
-#  17:     th 
-#  18:       'Volunteered'
-#  19:     th 
-#  20:       'Note'
-#  23:   for service in @services
-#  24:     tr :class => cycle('odd','even') do
-#  25:       td 
-#  26:         service.service_type.name
-#  27:       td 
-#  28:         service.start_date
-#  29:       td 
-#  30:         service.end_date
-#  31:       td 
-#  32:         service.paid
-#  33:       td 
-#  34:         service.volunteered
-#  35:       td.note 
-#  36:         note_text(service.note)
-#  37:       td 
-#  38:         link_to 'Show', service_path(:id => service)
-#  39:       td 
-#  40:         link_to 'Edit', edit_service_path(:id => service)
-#  41:       td 
-#  42:         link_to 'Remove', service_path(:id => service), :confirm => 'Are you sure?', :method => :delete
-#  45:   tr.list_controls do
-#  46:     td :colspan => 9 do
-#  47:       div.paginating_links do
-#  48:         text 'More: '
-#  49:         paginating_links(@services)
-#  50:       end if @services.next_page? || @services.previous_page?
-#  50:       end if @services.next_page? || @services.previous_page?
