%h1
  =link_to @person.full_name, person_path(:id => @person)
  = " : "
  =link_to 'Services', services_path(:person_id => @person)
  = " : Detail"

%ul
  =labeled_value 'Service type', @service.service_type.name
  =labeled_value 'Start date', @service.start_date
  =labeled_value 'End date', @service.end_date
  =labeled_value 'Paid', @service.paid
  =labeled_value 'Volunteered', @service.volunteered
  =labeled_value 'Note', note_text(@service.note)
  =userstamp_labeled_values @service

=link_to 'Edit', edit_service_path(:id => @service)
