%div.flex-column

  %h1 Log In

  -form_tag session_path do
    %ul
      =labeled_input 'Login', :for => :login do
        -capture do
          =text_field_tag 'login', '', :autocapitalize => 'none'
      =labeled_input 'Password', :for => :password do
        -capture do
          =password_field_tag 'password'
      %li
        =check_box_tag('remember_me')
        %label.choice.remember_me{:for => 'remember_me'} Remember me
      %li
        =submit_tag 'Log in'
      %li
        =link_to 'Forgot username or password?', forgot_path
