%h1
  =link_to @person.full_name, person_path(:id => @person)
  = ' : '
  =link_to 'Notes', visits_path(:person_id => @person)
  = ' : New'
-error_messages_for :note
-form_for @note do |f|
  %ul
    labeled_input 'Text', :for => :text
      -f.text_area :text, :rows => 6
    %li 
      -f.submit "Create"

-# Original:

-#   0: h1 do
-#   1:   link_to @person.full_name, person_path(:id => @person)
-#   2:   text ' : '
-#   3:   link_to 'Notes', visits_path(:person_id => @person)
-#   4:   text ' : New'
-#   7: error_messages_for :note
-#   9: form_for @note do |f|
-#  10:   ul do
-#  11:     labeled_input 'Text', :for => :text do
-#  12:       f.text_area :text, :rows => 6
-#  14:     li 
-#  15:       f.submit "Create"
