# Based on https://blog.codeship.com/running-rails-development-environment-docker/
services:
  app:
    build: .
    environment:
      - DATABASE_HOST=mysql
    command: /app/script/server
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    depends_on:
      - mysql
  mysql:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=password
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3306"
