%h1 People : New
%p
  Only First Name is required. For those who which to not be identified, please sign in as
  = "#{ link_to 'Anonymous', report_path(:action => :people, :report => { :matching_name => 'Anonymous' }) }."

=error_messages_for :person
-form_for @person do |f|
  = render :partial => 'people/form', :object => f, :locals => { :person => @person }
:javascript
  $('person_first_name').focus();
