%ul
  =labeled_input 'Datetime', :for => :visit_arrived_at do
    -capture do
      =calendar_date_select_tag "visit[arrived_at]", visit.arrived_at, :time => true, :year_range => 3.years.ago..0.years.from_now
  =labeled_input 'Volunteer', :for => :visit_volunteer do
    -capture do
      =form.check_box :volunteer
  -fields_for :note, visit.note do |note|
    =labeled_input 'Note', :for => :visit_note do
      -capture do
        =note.text_area :text, :rows => 6
  %li 
    =form.submit visit.new_record? ? "Create" : "Update"
