tr {
  vertical-align: top;
}

td.note {
  width: 300px;
}

.list_status {
  font-style: italic;
}

#application_header {
  border-bottom: 1px solid black;
}

#organization_header {
}

#organization_nav {
}

#user_status {
  float: right;
}
