body {
  width: 1000px;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 18px;
}

label, div.label {
  width: 100px;
  float:left;
  font-weight: bold;
  text-align: right;
  padding-right: 6px;
}

tr {
  vertical-align: top;
}

th {
  font-family:verdana,arial,helvetica,sans-serif;
  font-size:13px;
  line-height:18px;
  font-weight: bold;
}

td.note {
  width: 300px;
}

.list_status, .instructions {
  font-style: italic;
}

#application_header {
  border-bottom: 1px solid black;
}

#application_header h1 {
  font-size: 24px;
}

#organization_header {
}

#organization_nav {
}

#user_status {
  float: right;
}

.list_controls {
  background-color: lightgray;
}

tr.even { background: #ffffff; }
tr.odd  { background: #efefef; }

.paginating_links {
  float: left;
  padding: 3px;
}

.export {
  text-align: right;
  padding: 3px;
}

#notice {
  color:green;
  padding: 3px;
  float: right;
}

.warn {
  border: 1px solid orange;
  padding: 3px;
}

div.note {
  margin-bottom: 4px;
  padding: 2px;
  background: #efefef;
  width: 600px;
}

.note_subject, .note_status {
  font-style: italic;
  font-size: 12px;
}

.note_subject {
  float: left;
}

.note_status {
  float: right;
}

div.note .note_text {
  clear: both;
  padding: 3px;
  background: #ffffff;
}
