
/** Form styling based on WuFoo **/

form li {
  clear:both;
  margin:0pt;
  padding:4px 5px 2px 9px;
  position:relative;
}

form li span {
  float:left;
}

form li div,
form li span {
  color: #444444;
  margin: 0pt 4px 0pt 0pt;
  padding: 0pt 0pt 8px;
}

form li div label,
form li span label {
  clear: both;
  color: #444444;
  display: block;
  font-size: 11px;
  line-height: 11px;
  margin: 0pt;
  padding-top: 3px;
}


label, .label {
  display: block;
  font-size: 14px;
  padding: 0 4px 4px 0;
}

label.inline {
  display: inline;
  font-size: 12px;
  padding: 0 20px 0 6px;
}

label.desc, .label {
  color:#444444;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  padding: 0pt 0pt 1px;
}

label.choice {
  color:#444444;
  display:block;
  font-size:100%;
  line-height:1.2em;
  margin:-1.65em 0pt 0pt 25px;
  padding:0.44em 0pt 0.5em;
  width:90%;
}

form .req {
  color: red !important;
  font-size: 14px;
  float: none;
  font-weight: bold;
  margin: 0pt;
}

form p.instruct {
  background:#F5F5F5;
  border:1px solid #E6E6E6;
  color:#444444;
  font-size:90%;
  left:100%;
  line-height:130%;
  margin:0pt 0pt 0pt 8px;
  padding:8px 10px 9px;
  position:absolute;
  top:0pt;
  width:50%;
  z-index:1000;
}

input.checkbox,
input.radio {
  display: block;
  height: 13px;
  line-height: 1.5em;
  margin: 2px 0pt 0pt 3px;
  width: 13px;
}

input.medium,
select.medium {
  width: 400px;
}

input.short,
select.short {
  width: 198px;
}

input.text,
input.file {
  padding: 2px 0pt;
}

/** Rails Core error styles **/

.fieldWithErrors {
  padding: 2px;
  background-color: #DF0000;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #c00;
  margin-bottom: 20px;
  padding: 5px;
}

#errorExplanation h2 {
  font-weight: bold;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  background-color: #c00;
  color: #fff;
  display: none;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  font-weight: bold;
}

#errorExplanation ul {
  padding-left: 10px;
}

#errorExplanation li {
  padding:3px;
}