
/** Form styling based on WuFoo **/

form li {
  clear:both;
  margin:0pt;
  padding:4px 5px 2px 9px;
  position:relative;
}

form li span {
  float:left;
}

form li div,
form li span {
  color: #444444;
  margin: 0pt 4px 0pt 0pt;
  padding: 0pt 0pt 8px;
}

form li div label,
form li span label {
  clear: both;
  color: #444444;
  display: block;
  font-size: 11px;
  line-height: 11px;
  margin: 0pt;
  padding-top: 3px;
}


label, .label {
  display: block;
  font-size: 14px;
  padding: 0 4px 4px 0;
}

label.inline {
  display: inline;
  font-size: 12px;
  padding: 0 20px 0 6px;
}

label.desc, .label {
  color:#444444;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  padding: 0pt 0pt 1px;
}

label.choice {
  color:#444444;
  display:block;
  font-size:100%;
  line-height:1.2em;
  margin:-1.65em 0pt 0pt 25px;
  padding:0.44em 0pt 0.5em;
  width:90%;
}

label.remember_me {
  display: inline-block;
  padding: 0 4px;
  margin: 0;
}

form .req {
  color: red !important;
  font-size: 14px;
  float: none;
  font-weight: bold;
  margin: 0pt;
}

form p.instruct {
  background:#F5F5F5;
  border:1px solid #E6E6E6;
  color:#444444;
  font-size:90%;
  left:100%;
  line-height:130%;
  margin:0pt 0pt 0pt 8px;
  padding:8px 10px 9px;
  position:absolute;
  top:0pt;
  width:60%;
  z-index:1000;
}


@media (max-width: 800px) {
  form p.instruct {
    position: unset;
    margin: 4px 0 0 0;
    clear:both;
  }
}

form span.option {
	width:10%;
}

input.checkbox,
input.radio {
  display: block;
  height: 13px;
  line-height: 1.5em;
  margin: 2px 0pt 0pt 3px;
  width: 13px;
}

input.medium,
select.medium {
  width: 100%;
  max-width: 400px;
}

input.short,
select.short {
  width: 198px;
}

input.text,
input.file {
  padding: 2px 0pt;
}

input[type=text],
input[type=password],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #ccc;
  padding: 2px;
  border-radius: 0;
}

/** Explicitly style submit buttons to address iOS **/
input[type=submit] {
  -webkit-appearance: none;
  padding: 2px 20px;
  background-color: lightgray;
  border-color: lightgray;
  border-radius: 2px;
}

input[type=submit]:hover {
  background-color: darkgray;
}

/**
From https://www.filamentgroup.com/lab/select-css.html, modified to apply to
all select elements and to match Freehub visual style
**/

/* class applies to select element itself, not a wrapper element */
.css_select {
	display: block;
	line-height: 1.3;
	padding: .3em 1.4em .2em .3em;
	width: 100%;
	max-width: 100%; /* useful when width is set to anything other than 100% */
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	border-radius: 4px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	/* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient.
		for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference

	*/
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	/* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
	background-position: right .7em top 50%, 0 0;
	/* icon size, then gradient */
	background-size: .65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.css_select::-ms-expand {
	display: none;
}
/* Hover style */
.css_select:hover {
	border-color: #888;
}
/* Focus style */
.css_select:focus {
	border-color: #aaa;
	/* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}

/* Set options to normal weight */
.css_select option {
	font-weight:normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .css_select, :root:lang(ar) .css_select, :root:lang(iw) .css_select {
	background-position: left .7em top 50%, 0 0;
	padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.css_select:disabled, .css_select[aria-disabled=true] {
	color: graytext;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

.css_select:disabled:hover, .css_select[aria-disabled=true] {
	border-color: #aaa;
}

/** Rails Core error styles **/

.fieldWithErrors {
  padding: 2px;
  background-color: #DF0000;
  display: table;
}

#errorExplanation { 
  max-width: 380px;
  border: 2px solid #c00;
  margin-bottom: 20px;
  padding: 5px;
}

#errorExplanation h2 {
  font-weight: bold;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  background-color: #c00;
  color: #fff;
  display: none;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  font-weight: bold;
}

#errorExplanation ul {
  padding-left: 10px;
}

#errorExplanation li {
  padding:3px;
}
