#summary {
  float:right;
  text-align: right;
  font-size: 13px;
  padding: 10px;
}

#summary .person_type {
  font-size: 16px;
  font-weight: bold;
}

#summary .current {
  color: green;
}

#summary .expired {
  color: red;
}

.section h2 {
  float:left;
}

.section ul, .section .list_status {
  clear: both;
}

.section .add_link {
  float: left;
  padding-top: 2px;
}

#sign_in {
  width: 400px;
  float: left;
  padding: 10px;
}

#sign_in form {
  background: lightyellow;
  border: 1px solid tan;
  padding: 14px 14px 10px 14px;
}

#note_text {
  height: 60px;
  width: 380px;
}

#visits li, #services li, #notes li {
  vertical-align: top;
  border-bottom: 1px solid tan;
  padding: 6px 8px;
}

li .what {
  float:left;
  display:block;
  width: 200px;
  clear:both;
}

li .when {
}

li .note {
  font-style: italic;
  display: block;
  clear:both;
  padding: 3px 0;
}

form li {
  padding: 0 0 6px 0;
}