=labeled_input 'Full Name', :for => :name do
  -capture do
    =form.text_field :name
=labeled_input 'Email', :for => :email do
  -capture do
    =form.text_field :email, :autocapitalize => 'none'
=labeled_input 'Login', :for => :login do
  -capture do
    =form.text_field :login
=labeled_input 'Password', :for => :password do
  -capture do
    =form.password_field :password
=labeled_input 'Confirm Password', :for => :password_confirmation do
  -capture do
    =form.password_field :password_confirmation
