%h1 New user
-error_messages_for :user
-form_for @user do |f|
  %ul
    -user_form_fields(f)
    %li 
      -f.submit 'Sign Up'

-# Original:

-#   0: h1 'New user'
-#   2: error_messages_for :user
-#   4: form_for @user do |f|
-#   5:   ul do
-#   6:     user_form_fields(f)
-#   7:     li 
-#   8:       f.submit 'Sign Up'
