%h1 #{@user.name} Profile
%ul
  =labeled_value 'Name', @user.name
  =labeled_value 'Email', @user.email
  =labeled_value 'Login', @user.login
  =labeled_value 'Activated at', @user.activated_at.nil? ? 'Not yet activated' : datetime_long(@user.activated_at)
-if user_is_manager?
  =link_to 'Edit', edit_user_path(@user)

