%h1 #{link_to @organization.name, @organization} : Edit

%div.column.left
  =error_messages_for :organization
  -form_for @organization do |f|
    %ul
      = render :partial => 'form', :object => f
      %li 
        =f.submit 'Update'
