.tags_control
  .view
    %ul.tags
      -for tag in @person.tag_list
        %li.tag
          =link_to tag, tag_path(:organization_key => @organization.key, :id => tag)
      %li
        %a{:href => '#', :class => 'show_edit'} Edit tags
  .edit
    %ul.tags
      -for tag in @person.tag_list
        %li.tag
          = tag
          =link_to_remote 'x', :update => "person_tags_#{@person.id}", :url => tagging_path(:organization_key => @organization.key, :person_id => @person, :id => tag), :method => :delete, :class => 'delete'
      -remote_form_for :taggings, { :url => taggings_path(:organization_key => @organization.key, :person_id => @person), :update => "person_tags_#{@person.id}" } do |f|
        %select{ :name => :id, :onchange => 'if (this.selectedIndex > 0) { this.form.onsubmit(); }' }
          %option Add tag
          -for tag in @organization.tag_list - @person.tag_list
            %option{:value => tag}= tag
          -#%option New tag
      %li
        %a{:href => '#', :class => 'show_view'} Done editing