.tags_control
  .view
    %ul.tags
      %li=image_tag 'tag_yellow.png'
      -for tag in person.tags.sort_by {|tag| tag.name.downcase }
        %li.tag
          =link_to tag, tag_path(:organization_key => @organization.key, :id => tag.id)
      %li
        %a{:href => '#', :class => 'show_edit'} Edit tags
  .edit
    %ul.tags
      %li=image_tag 'spinner.gif', :class => 'spinner'
      -for tagging in person.taggings.sort_by {|tagging| tagging.tag.name.downcase }
        %li.tag
          = tagging.tag.name
          =link_to 'x', tagging_path(:organization_key => @organization.key, :person_id => person, :id => tagging.id), :class => 'delete'
      %li.form
        -form_for :taggings, :url => taggings_path(:organization_key => @organization.key, :person_id => person) do |f|
          %select.css_select
            %option{:value => ''} Choose tag
            -for tag in @organization.tags - person.tags
              %option{:value => tag.name}= tag.name
            %option{:value => ''}= '------'
            %option{:value => ''} New tag
      %li
        %a{:href => '#', :class => 'show_view'} Done
