%h1 Listing reports

%div.column.left
  %div.section
    %h2 People
    %p
      The #{link_to 'People Report', report_path(:action => 'people', :organization_key => @organization.key)}
      lists all people, members and non members, and can be exported as CSV for use in a spreadsheet program.
  %div.section
    %h2 Services
    %p
      The #{link_to 'Services Report', report_path(:action => 'services', :organization_key => @organization.key)}
      lists services by type (Membership, Class, Digging Rights) in a date range and can be exported as CSV for use in a spreadsheet program.

%div.column
  %div.section
    %h2 Visits
    %p
      The #{link_to 'Visits Report', report_path(:action => 'visits', :organization_key => @organization.key)}
      lists visits in a date range and can be exported as CSV for use in a spreadsheet program.
  %div.section
    %h2 Summary
    %p
      The #{link_to 'Summary Report', report_path(:action => 'summary', :organization_key => @organization.key)}
      provides a high level view of who is visiting the shop when.

